.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
gen/histo_1433163274.PNG
gen/xml/ES1.xml
gen/xml/ES2.xml
gen/xml/ES3.xml
gen/xml/ES4.xml
gen/xml/OUT.xml
gen/xml/S1.xml
gen/xml/S2.xml
gen/xml/S3.xml
input/graphconfig.xml
input/histo_1.PNG
ressources/*
ressources/10/gen/histos/10_1450349292.PNG
ressources/10/gen/histos/10_1450349347.PNG
ressources/10/gen/histos/10_1450349368.PNG
ressources/10/gen/histos/10_1450349398.PNG
ressources/8/gen/histos/8_1449120160.PNG
ressources/8/gen/histos/8_1449120214.PNG
ressources/8/gen/histos/8_1449120287.PNG
ressources/8/gen/histos/8_1449120383.PNG
ressources/8/gen/histos/8_1449120524.PNG
ressources/8/gen/histos/8_1449122976.PNG
