body {
	width:80%;
	margin: 0 auto;
	font-family: Verdana, Georgia, sans-serif;
	font-size: 13px;
	background-attachment:fixed;
	height: 100%;
	padding: 0;
	top: 0;
}

#header {
	max-width: 1200px;
	min-width:1200px;
	padding:0px;
	margin:0 auto;
	padding-left:0px;
	text-align: center;
	color: #202030;
	height: 30px;
	background: #FFF;
	border-bottom: 3px solid #202030;
}

h3{
	font-style:italic;
	font-family: times, Verdana, Georgia, sans-serif;
	font-size: 19px;
	/* padding-top: 30px; */
}

#logo {
	float:left;
	height: 100px;
}

#titre {
	padding-left:200px;
	width: 60%;
	/* margin: auto; */
	text-align: center;
	height:40%;
}


a{
	text-decoration:none;
	color:#202030;
}

#corps {
	width: 100%;
	height:auto;
	color: #202030;
	background: #FFF;
	font-family: Verdana, Georgia, sans-serif;
}

#footer { 
	width: 100%;
	margin-top:10px;
	color: #202030;
	background: #d3d3d3;
	height: 53px;
	text-align: center;
	margin-top:10px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
}

#footer p {
	padding-top: 20px;
}

#mygraph {
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
    margin: 0 auto;
}
	  
table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}

table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}

div.table_content {
    width:1200px;
    text-align:center;
}

div.table_description {
    width:1200px;
}

#operation, #popUp-adds-title, #edit-node-title, #edit-link-title, #edit-message-title {
	font-size:28px;
}

#graph-popUp, #popup-node-edit, #popup-link-edit, #popup-message-edit {
	display:none;
	position:absolute;
	top:40%;
	left:40%;
	z-index:299;
	width:250px;
	height:250px;
	background-color: #f9f9f9;
	border-style:outset;
	border-width:3px;
	border-color: #202030;
	border-radius:15px;
	padding:10px;
	text-align: center;
	font-family: Verdana, sans-serif;
	box-shadow: 1px 1px 20px #202030;	
}
	
#popup-node-edit{
	height:215px;
}
	
#popup-link-edit{
	height:140px;
}
	
#popup-message-edit{
	height:215px;
}
	
#graph-popUp-adds {
	display:none;
    position:absolute;
    top:40%;
   	left:58%;
    z-index:298;
    width:250px;
    height:250px;
    background-color: #f9f9f9;
    border-style:outset;
    border-width:3px;
    border-color: #202030;
	border-radius:0px 15px 15px 0px;
    padding:10px;
    text-align: center;
	font-family: Verdana, sans-serif;
	box-shadow: 1px 1px 20px #202030;	
}
	
#tableEdit, #popUp-adds-table , #table-edit-node, #table-edit-link, #table-edit-message{
	margin:auto;
	font-family: Verdana, Georgia, sans-serif;
}

#tableEdit td,#table-edit-node td,#table-edit-link td,#table-edit-message td {
	padding-top: 5px;
	border:none;
	text-align: right;
}
	
#popUp-adds-table td{
	padding-top: 5px;
	border:none;
	text-align: right;
}
	
#popUp-adds-table .label{
	padding-left:25px;
}
	
#tableEdit #liste, #table-edit-node  #liste{
	text-align:left;
}

#saveButton, #cancelButton {
	width:80px;
	height:35px;
    border-style:solid;
    border-width:3px;
    border-color: #D3D3D3;
	font-family: Verdana, Georgia, sans-serif;
	padding: 5px;
	margin-left: 20px;
	border-radius:5px;
}

#saveButton{
	background-color: rgb(131,218,141);
}

#cancelButton{
	background-color: rgb(253,135,96);
}

#addButton {
	position: absolute;
	right: 15%;
	bottom: 19%;
}

.tableShow {
	display:inline-block; 
	vertical-align: top;
	float:center;
	font-family: Verdana, Georgia, sans-serif;
	border-collapse: collapse;
	font-size: 12px;
	width:auto;
	margin-bottom: 50px;
}
 
.tableShow td{
	text-align: center;
	border: 2px solid white;
	background: lightgray;
	max-width: 150px;
	word-wrap : break-word;
	padding: 15px;
	/* min-height: 71px; */
}

.tableShow td input[type="text"]{
	min-width: 15px;
	max-width:40px;
	text-align:left;
}
.redcase {
	background: red !important;	
}

.tableShow th{

	text-align: center;
	border: 2px solid white;
	padding:5px;
	color: #FFF;
	background: #202030;
}
caption {
	font-size: x-large;
	font-family: verdana, sans-serif;
	padding-bottom: 20px;
	text-decoration: underline;
	color:#202030;
}


#corps p {
	width:100%;
}


.tabledetailsdiv {
	width:100%;
	max-width: 1200px;
	min-height: 300px;
	height: auto;
	margin-bottom:50px;
	padding-top: 50px;
	text-align:center;
}

#results img {
	margin-top: 10px;
	margin-bottom:20px;
	width:90%;
}
	
#grayer {
	position:absolute;
	width:100%;
	height:100%;
	z-index:899;
	background-color:#101010;
	opacity:0.6;
	top:0;
	left:0;
	visibility:hidden;
}

#popup {
	position:absolute;
	background-color:#D0D0D0;
	opacity:0.9;
	left:0;
	margin-left:35%;
	margin-top:15%;
	width:30%;
	border:1px solid black;
	min-height:150px;
	visibility:hidden;
	z-index:900;
	border-radius:2em;
}

#popupHead{
	height:40px;
	border-bottom:2px solid black;
}

#popupTitle{
	width:70%;
	float:left;
	padding-left:20px;
	padding-top:5px;
	text-align:center;
	font-size:14pt;
}

#closePopup{
	height:100%;
	float:right;
	width:60px;
	border-radius:0em 2em 0em 0em;
	border-left:2px solid black;
		background: -webkit-linear-gradient(#FF3333, #FF3300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF3333, #FF3300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF3333, #FF3300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF3333, #FF3300); /* Standard syntax */

}

#popupBody {
		padding:20px;
}

#popupBodyText {
	width:100%;
	height:100px;
}



#buttonAddCriticality {
	margin-top: 25px;
}

.button {
	border:1px solid #;
	padding:5px 10px 5px 10px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
	font-weight:bold;
	margin-left:10px;
}

.blue {
	background: -webkit-linear-gradient(#66CCFF, #99EEFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#66CCFF, #99EEFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#66CCFF, #99EEFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#66CCFF, #99EEFF); /* Standard syntax */
}
.green {
	background: -webkit-linear-gradient(#33CC33, #33FF66); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#33CC33, #33FF66); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#33CC33, #33FF66); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33CC33, #33FF66); /* Standard syntax */
}
.red {
	background: -webkit-linear-gradient(#FF3333, #FF3300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF3333, #FF3300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF3333, #FF3300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF3333, #FF3300); /* Standard syntax */
}

.button:hover {
	box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.7); 
	opacity:0.9;
}