#menu {
	position:absolute;
	background-color:#202030;
	display:inline-block;
	/* margin: 50px 0px 0px 0px; */
	width:6%;
	left:0;
	top:0;
	opacity:0.7;
	background-color:#44887B;
	height: 100%;
	transition: width 2s;
	z-index:101;
	border: 2px solid lightgray;
	position:fixed;
}

#menu:hover{
	opacity:1;
	width:10%;
	transition: width 1s;
	transition-timing-function: ease-in-out;
}

#menu ul
{
	margin:0px;
	padding:0px;
	padding-left:5px;
	width:100%;
	list-style-type: none;
	list-style-position: inside;
}

#menu li
{
	margin-top:20px;
	width:100%;
	height:100%;
	border-bottom: 2px solid lightgray;
	text-align: center;
	margin:0px;
	margin-left: -5px;
	padding:0px; 
	text-decoration:none;
	color:white;
	line-height:2.8em;
	font-size: 15px;
}

#menu li:hover{
	background-color: #000050;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

#menu li:active{
	font-size: 15px;
	background-color:#000050;
	color: #FFFFFF;
	text-decoration: bold;
}

.linkselected{
	font-weight: bold;
	text-shadow: 1px 1px 1px grey;
	color:#202030;
	background: linear-gradient(to right, #30AA30, #85FF85);
	font-size: 15px;
}

#link-results {
	background: linear-gradient(to left, #FF3030, #FF8585);
}