#menu {
	position:absolute;
	background-color:#202030;
	display:inline-block;
	/* margin: 50px 0px 0px 0px; */
	width:5%;
	left:0;
	top:0;
	opacity:0.5;
	background-color:#44887B;
	/* max-height: 100%; */
	height: 100%;
	transition: width 2s;
	z-index:101;
}

#menu:hover{
	opacity:0.9;
	width:10%;
	transition: width 2s;
}

#menu ul
{
	margin:0px;
	padding:0px;
	padding-left:3px;
	width:100%;
	list-style-type: none;
	list-style-position: inside;
}

#menu li
{
	margin-top:20px;
	width:100%;
	height:100%;
	border: 1px solid lightgray;
	text-align: center;
	margin:0px;
	margin-left: -5px;
	padding:0px; 
	text-decoration:none;
	color:white;
	line-height:2.8em;
	font-size: 15px;
}

#menu li:hover{
	text-decoration:underline;
	text-shadow: 1px 1px 1px white;
	font-size: 15px;
}

#menu li:active{
	text-decoration:underline;
	text-shadow: 1px 1px 1px white;
	font-size: 15px;
	background-color:#000024;
}

.linkselected{
	text-decoration:underline;
	text-shadow: 1px 1px 1px grey;
	color:#202030;
	background-color:#808080;
	font-size: 15px;
}

#link-results {
	background: linear-gradient(to left, #FF3030, #FF8585);
}