#topology{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1250px;
	max-height: 1000px;
	text-align: left;
	opacity: 1;
}

#canvas{
	/*overflow: scroll;*/
	/*margin-left: 0;*/
	position: absolute;
	/*left: 0;*/
	transform: scale(1);
}

#zoomplus{
	position: absolute;
	background: linear-gradient(#DDDDFF,#EEEEFF);
	font-family: Arial;
	text-align: center;
	min-width: 25px;
	top: 5px;
	left: 3px;
	border: 1px solid;
	border-radius: 5px;
	z-index: 998;
	font-size: 16px;
    font-weight: bold;
}
#zoomplus:hover{
	position: absolute;
	background: linear-gradient(#BBBBFF,#DDDDFF);
	cursor: pointer;
}
#zoomplus:before{
    content: "+";
}
#zoomminus{
	position: absolute;
	background: linear-gradient(#DDDDFF,#EEEEFF);
	font-family: Arial;
	text-align: center;
	min-width: 25px;
	top: 24px;
	left: 3px;
	border: 1px solid;
	border-radius: 5px;
	z-index: 998;
	font-size: 16px;
    font-weight: bold;
}
#zoomminus:hover{
	position: absolute;
	background: linear-gradient(#BBBBFF,#DDDDFF);
	cursor: pointer;
}
#zoomminus:before{
    content: "-";
}

.square{
	line-height: 35px;
	font-size: 16px;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	height: 36px;
	width: 36px;
	border:2px solid;
	
	margin-left: 5px;
}

.round{
	line-height: 35px;
	font-size: 16px;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	height: 36px;
	width: 36px;
	border:2px solid;
	border-radius: 40px;
	background: radial-gradient(circle,#FFAAAA,#AA2222);
	margin-left: 5px;
}